<div class="row mt-4">
    <div class="col-md-1">
        <button type="button" class="nes-btn is-error" (click)="moveRemove()">X</button>
    </div>
    <div class="col-md-3">
        
        <h4><span class="nes-text is-primary">{{ move.name }}</span></h4>
    </div>
    <div class="col-md-4">
        <h4><span class="nes-text is-error">Kills</span></h4>
    </div>
    <div class="col-md-4">
        <div class="nes-select is-error">
            <select required id="error_select">
                <option value="" disabled selected hidden>select</option>
                <option value="{{ opt.name }}" *ngFor="let opt of _optFilter()">{{ opt.name }}</option>
            </select>
        </div>
    </div>
</div>