<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <app-movement></app-movement>
    </div>
    <div class="col-md-2"></div>

    <div class="row mt-3">
        <div class="col-md-12">
        </div>
    </div>
</div>
<!-- BOTONES -->
<div class="row mt-3">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <button type="button" routerLink="/home" class="nes-btn is-success w-100">
            <h1>BACK</h1>
        </button>
    </div>
    <div class="col-md-4">
        <button type="button" class="nes-btn is-primary w-100" routerLink="/game">
            <h1>START</h1>
        </button>
    </div>
    <div class="col-md-2"></div>
</div>